<!-- Category -->

<div class="category">
    {% if page.type == 'category' %}
    <div class="category-header loading-animation" {% if page.header-image %} style="background-image: url('{{ page.header-image }}')"{% endif %}>
        <div class="category-header-title">
            {{ page.title }}
        </div>
        <div class="category-header-description">
            {{ page.description }}
        </div>
    </div>
    {% endif %}
    <div class="category-body">
        <ul class="post-list">
            {% if page.type == 'category' %}
                {% assign current_page = page.url | downcase | split: '/' %}
                {% capture current %}{{ current_page }}{% endcapture %}

                {% assign sorted_pages = site.pages | sort: 'date' | reverse %}

                {% for page in sorted_pages %}
                {% if page.category == current %}
                {% include template/post-item.html %}
                {% endif %}
                {% endfor %}
            {% elsif page.type == 'home' %}
                {% assign sorted_pages = site.pages | sort: 'date' | reverse %}

                {% for page in sorted_pages %}
                {% if page.type == "post" %}
                {% include template/post-item.html %}
                {% endif %}
                {% endfor %}
            {% endif%}
        </ul>
    </div>
</div>
