<!-- Post -->

<div class="post">
    <div class="post-header loading-animation" {% if page.header-image %} style="background-image: url('{{ page.header-image }}')"{% endif %}>
        <div class="post-info">
            <div class="post-tag">{{ page.tag }}</div>
            <div class="post-title">{{ page.title }}</div>
            <div class="post-subtitle">{{ page.subtitle }}</div>
            <div class="post-date" datetime="{{ page.date }}">
                Posted By {{ site.author.name }} on {{ page.date | date: "%B %Y, %d" }}
            </div>
        </div>
    </div>
    <div class="post-body">
        <div class="content">
            {{ content }}
        </div>
        <div class="pagination">
            {% if page.next.url %}
            <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
            {% endif %}
            {% if page.previous.url %}
            <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
            {% endif %}
            <a href="#" class="top">Top</a>
        </div>
    </div>
</div>