* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  color: $grey-0;
  margin: 0;
  padding: 0;
}

html {
  font-family: $sans-serif, $source;
  font-size: 17px;

  @media (min-width: $break-small) {
    font-size: 18px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin: 0;
}

h2 {
  font-size: 24px;
}

a {
  color: $grey-0;
  text-decoration: none;
}

ul {
  padding: 0;
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

.transition {
  transition: all 0.3s ease-in-out;
}

::selection {
  background: $purple;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
  background: $purple;
  color: #FFF;
  text-shadow: none;
}
::-webkit-selection {
  background: $purple;
  color: #FFF;
  text-shadow: none;
}

.share {
  display: inline-block;
  position: relative;
  margin-bottom: 120px;
  animation-name: moving;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.share-facebook {
  position: absolute;
  left: 80px;
}

.share-twitter {
  position: absolute;
}